.blue {
  background-color: $c-blue;
}

.red {
  background-color: $red-field;
}

.pink {
  background-color: $pink-field;
}

.green {
  background-color: $green-field;
}

.orange {
  background-color: $orange-field;
}

.white {
  background-color: white;
}

.gray {
  background-color: #787878;
}
